# 1.Data prepare

In [1]:
import pandas as pd
import numpy as np

In [2]:
login_df = pd.read_csv("login.csv")
purch_df = pd.read_csv("purchase_detail.csv")
user_df = pd.read_csv("user_info.csv")

In [3]:
print(login_df.dtypes)
login_df

userid          int64
date           object
login_times     int64
dtype: object

          userid        date  login_times
0         161097  2020-07-29            2
1         243570  2020-07-29            2
2         355497  2020-07-29            4
3         167925  2020-07-29            1
4         504766  2020-07-29            1
...          ...         ...          ...
50705581  203704  2020-02-11            1
50705582  456256  2020-02-11            1
50705583  330731  2020-02-11            1
50705584  481963  2020-02-11            1
50705585   66043  2020-02-11            1

[50705586 rows x 3 columns]

In [4]:
print(purch_df.dtypes)
purch_df

userid               int64
grass_date          object
order_count          int64
total_amount         int64
category_encoded     int64
dtype: object

         userid  grass_date  order_count  total_amount  category_encoded
0        295790  2020-05-13            4             4                 8
1        428982  2020-05-13            1             2                14
2        151685  2020-05-13            2             2                12
3        323635  2020-05-13            4            11                 8
4        118610  2020-05-13           11            11                17
...         ...         ...          ...           ...               ...
7792951  275949  2020-03-26            1             1                 8
7792952  255131  2020-03-26            1             1                20
7792953  319036  2020-03-26            1             1                15
7792954  511880  2020-03-26            1             1                16
7792955  325552  2020-03-26            1             1                14

[7792956 rows x 5 columns]

In [5]:
print(user_df.dtypes)
user_df

userid           int64
gender         float64
is_seller        int64
birth_year     float64
enroll_time     object
dtype: object

        userid  gender  is_seller  birth_year enroll_time
0            1     2.0          1      1985.0  2015-05-27
1            2     1.0          1      1980.0  2015-05-27
2            3     2.0          1      2014.0  2015-05-27
3            4     1.0          1      1978.0  2015-05-27
4            5     1.0          1      1978.0  2015-05-27
...        ...     ...        ...         ...         ...
502152  521605     2.0          0      2004.0  2020-02-01
502153  521606     2.0          0      1990.0  2020-02-01
502154  521607     1.0          0         NaN  2020-02-01
502155  521608     2.0          0      2005.0  2020-02-01
502156  521609     2.0          0      2006.0  2020-02-01

[502157 rows x 5 columns]

## df merge

In [6]:
## login file too large, need to split
login_df_1 = login_df.loc[(login_df['userid'] >= 0) & (login_df['userid'] <= 100000)]
login_df_2 = login_df.loc[(login_df['userid'] >= 100001) & (login_df['userid'] <= 200000)]
login_df_3 = login_df.loc[(login_df['userid'] >= 200001) & (login_df['userid'] <= 300000)]
login_df_4 = login_df.loc[(login_df['userid'] >= 300001) & (login_df['userid'] <= 400000)]
login_df_5 = login_df.loc[login_df['userid'] >= 400001]

In [7]:
login_df_1['date_list'] = login_df_1['date']
login_df_2['date_list'] = login_df_2['date']
login_df_3['date_list'] = login_df_3['date']
login_df_4['date_list'] = login_df_4['date']
login_df_5['date_list'] = login_df_5['date']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [8]:


login_df_1_gb = login_df_1.groupby('userid').agg({'date_list':lambda x:list(x), 'login_times':lambda x:list(x), 'date':max})
login_df_2_gb = login_df_2.groupby('userid').agg({'date_list':lambda x:list(x), 'login_times':lambda x:list(x), 'date':max})
login_df_3_gb = login_df_3.groupby('userid').agg({'date_list':lambda x:list(x), 'login_times':lambda x:list(x), 'date':max})
login_df_4_gb = login_df_4.groupby('userid').agg({'date_list':lambda x:list(x), 'login_times':lambda x:list(x), 'date':max})
login_df_5_gb = login_df_5.groupby('userid').agg({'date_list':lambda x:list(x), 'login_times':lambda x:list(x), 'date':max})

In [9]:
login_df_1_gb['s1']=0 ##season1
login_df_1_gb['s2']=0 ##season2
login_df_2_gb['s1']=0 ##season1
login_df_2_gb['s2']=0 ##season2
login_df_3_gb['s1']=0 ##season1
login_df_3_gb['s2']=0 ##season2
login_df_4_gb['s1']=0 ##season1
login_df_4_gb['s2']=0 ##season2
login_df_5_gb['s1']=0 ##season1
login_df_5_gb['s2']=0 ##season2

In [10]:
def check_login_count(df):
    for i in range(len(df)):
        date = df.iloc[i].date_list
        login_t = df.iloc[i].login_times
        s1 = 0
        s2 = 0
        for ii,jj in zip(date, login_t):
            if ii < "2020-03-15":
                s1 += jj 
            else:
                s2 += jj
        df.iloc[i, df.columns.get_loc('s1')] = s1
        df.iloc[i, df.columns.get_loc('s2')] = s2

In [11]:
check_login_count(login_df_1_gb)
check_login_count(login_df_2_gb)
check_login_count(login_df_3_gb)
check_login_count(login_df_4_gb)
check_login_count(login_df_5_gb)

In [12]:
login_df_final = pd.concat([login_df_1_gb, login_df_2_gb, login_df_3_gb, login_df_4_gb, login_df_5_gb])

In [13]:
login_df_final[['s1','s2','date']].to_csv('login_df_final.csv')

In [14]:
train_df = pd.merge(user_df.set_index('userid'), login_df_final, on='userid')
train_df

,gender,is_seller,birth_year,enroll_time,date_list,login_times,date,s1,s2
userid,,,,,,,,,
1,2.0,1,1985.0,2015-05-27,"[2020-07-29, 2020-06-10, 2020-07-20, 2020-05-2...","[2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, ...",2020-07-29,7,43
2,1.0,1,1980.0,2015-05-27,"[2020-07-18, 2020-07-23, 2020-06-25, 2020-07-0...","[3, 2, 3, 3, 4, 1, 3, 4, 3, 1, 1, 1, 3, 2, 2, ...",2020-07-31,126,361
3,2.0,1,2014.0,2015-05-27,"[2020-06-11, 2020-07-02, 2020-07-09, 2020-06-2...","[7, 6, 5, 3, 2, 7, 6, 4, 4, 7, 3, 4, 4, 6, 4, ...",2020-07-31,194,576
4,1.0,1,1978.0,2015-05-27,"[2020-07-29, 2020-07-14, 2020-04-26, 2020-07-2...","[2, 2, 1, 2, 3, 2, 3, 1, 2, 5, 2, 5, 4, 4, 3, ...",2020-07-31,112,314
5,1.0,1,1978.0,2015-05-27,"[2020-07-31, 2020-06-17, 2020-06-10, 2020-06-2...","[4, 5, 4, 5, 6, 4, 3, 4, 5, 5, 4, 5, 5, 6, 4, ...",2020-07-31,207,617
...,...,...,...,...,...,...,...,...,...
521605,2.0,0,2004.0,2020-02-01,"[2020-04-21, 2020-04-17, 2020-05-26, 2020-05-2...","[1, 3, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 3, 2, ...",2020-06-25,30,33
521606,2.0,0,1990.0,2020-02-01,"[2020-05-20, 2020-06-05, 2020-06-10, 2020-07-0...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",2020-07-26,21,76
521607,1.0,0,NaN,2020-02-01,"[2020-06-22, 2020-07-03, 2020-06-17, 2020-06-2...","[1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",2020-07-31,46,155
521608,2.0,0,2005.0,2020-02-01,"[2020-07-18, 2020-07-01, 2020-06-11, 2020-07-1...","[1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, ...",2020-07-31,29,84
521609,2.0,0,2006.0,2020-02-01,"[2020-06-18, 2020-05-02, 2020-07-11, 2020-06-2...","[1, 1, 1, 2, 3, 4, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",2020-07-29,39,147

In [17]:
## 製作蝦皮年資
train_df['shopee_years'] = ((pd.to_datetime(train_df['date']) - pd.to_datetime(train_df['enroll_time']))).astype('timedelta64[D]')
train_df

,gender,is_seller,birth_year,enroll_time,date_list,login_times,date,s1,s2,shopee_years
userid,,,,,,,,,,
1,2.0,1,1985.0,2015-05-27,"[2020-07-29, 2020-06-10, 2020-07-20, 2020-05-2...","[2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, ...",2020-07-29,7,43,1890.0
2,1.0,1,1980.0,2015-05-27,"[2020-07-18, 2020-07-23, 2020-06-25, 2020-07-0...","[3, 2, 3, 3, 4, 1, 3, 4, 3, 1, 1, 1, 3, 2, 2, ...",2020-07-31,126,361,1892.0
3,2.0,1,2014.0,2015-05-27,"[2020-06-11, 2020-07-02, 2020-07-09, 2020-06-2...","[7, 6, 5, 3, 2, 7, 6, 4, 4, 7, 3, 4, 4, 6, 4, ...",2020-07-31,194,576,1892.0
4,1.0,1,1978.0,2015-05-27,"[2020-07-29, 2020-07-14, 2020-04-26, 2020-07-2...","[2, 2, 1, 2, 3, 2, 3, 1, 2, 5, 2, 5, 4, 4, 3, ...",2020-07-31,112,314,1892.0
5,1.0,1,1978.0,2015-05-27,"[2020-07-31, 2020-06-17, 2020-06-10, 2020-06-2...","[4, 5, 4, 5, 6, 4, 3, 4, 5, 5, 4, 5, 5, 6, 4, ...",2020-07-31,207,617,1892.0
...,...,...,...,...,...,...,...,...,...,...
521605,2.0,0,2004.0,2020-02-01,"[2020-04-21, 2020-04-17, 2020-05-26, 2020-05-2...","[1, 3, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 3, 2, ...",2020-06-25,30,33,145.0
521606,2.0,0,1990.0,2020-02-01,"[2020-05-20, 2020-06-05, 2020-06-10, 2020-07-0...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",2020-07-26,21,76,176.0
521607,1.0,0,NaN,2020-02-01,"[2020-06-22, 2020-07-03, 2020-06-17, 2020-06-2...","[1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",2020-07-31,46,155,181.0
521608,2.0,0,2005.0,2020-02-01,"[2020-07-18, 2020-07-01, 2020-06-11, 2020-07-1...","[1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, ...",2020-07-31,29,84,181.0
521609,2.0,0,2006.0,2020-02-01,"[2020-06-18, 2020-05-02, 2020-07-11, 2020-06-2...","[1, 1, 1, 2, 3, 4, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",2020-07-29,39,147,179.0

In [19]:
## 生日轉年紀
train_df['age'] = train_df['birth_year'].apply(lambda x:2020-x)
age_mean = train_df.describe()['age']['mean']

In [52]:
purch_df.set_index('userid')
purch_df_g = purch_df.groupby(['userid']).agg({'grass_date':lambda x:set(x), 'order_count':sum, 'total_amount':sum, 'category_encoded':lambda x:set(x)})

In [53]:
train_df = pd.merge(train_df, purch_df_g, on='userid')
train_df

,gender,is_seller,birth_year,enroll_time,date_list,login_times,date,s1,s2,shopee_years,age,grass_date,order_count,total_amount,category_encoded
userid,,,,,,,,,,,,,,,
1,2.0,1,1985.0,2015-05-27,"[2020-07-29, 2020-06-10, 2020-07-20, 2020-05-2...","[2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, ...",2020-07-29,7,43,1890.0,35.0,"{2020-07-29, 2020-07-23, 2020-06-11, 2020-07-1...",30,246,"{8, 17, 3, 6}"
2,1.0,1,1980.0,2015-05-27,"[2020-07-18, 2020-07-23, 2020-06-25, 2020-07-0...","[3, 2, 3, 3, 4, 1, 3, 4, 3, 1, 1, 1, 3, 2, 2, ...",2020-07-31,126,361,1892.0,40.0,"{2020-05-11, 2020-07-28, 2020-06-07, 2020-06-1...",25,59,"{2, 6, 8, 9, 15, 16, 18, 20}"
3,2.0,1,2014.0,2015-05-27,"[2020-06-11, 2020-07-02, 2020-07-09, 2020-06-2...","[7, 6, 5, 3, 2, 7, 6, 4, 4, 7, 3, 4, 4, 6, 4, ...",2020-07-31,194,576,1892.0,6.0,"{2020-05-05, 2020-06-10, 2020-03-11, 2020-04-2...",14,14,"{8, 18, 19, 6}"
4,1.0,1,1978.0,2015-05-27,"[2020-07-29, 2020-07-14, 2020-04-26, 2020-07-2...","[2, 2, 1, 2, 3, 2, 3, 1, 2, 5, 2, 5, 4, 4, 3, ...",2020-07-31,112,314,1892.0,42.0,"{2020-05-04, 2020-04-03, 2020-06-10, 2020-02-2...",54,82,"{3, 6, 8, 10, 11, 12, 15, 18, 22, 23}"
5,1.0,1,1978.0,2015-05-27,"[2020-07-31, 2020-06-17, 2020-06-10, 2020-06-2...","[4, 5, 4, 5, 6, 4, 3, 4, 5, 5, 4, 5, 5, 6, 4, ...",2020-07-31,207,617,1892.0,42.0,"{2020-04-03, 2020-03-14, 2020-06-10, 2020-07-1...",86,2734,"{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 13, 14, 15, 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521605,2.0,0,2004.0,2020-02-01,"[2020-04-21, 2020-04-17, 2020-05-26, 2020-05-2...","[1, 3, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 3, 2, ...",2020-06-25,30,33,145.0,16.0,"{2020-03-05, 2020-02-20, 2020-02-02, 2020-03-0...",15,16,"{1, 6, 15}"
521606,2.0,0,1990.0,2020-02-01,"[2020-05-20, 2020-06-05, 2020-06-10, 2020-07-0...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",2020-07-26,21,76,176.0,30.0,"{2020-05-27, 2020-04-26, 2020-07-07, 2020-02-0...",66,140,"{3, 5, 6, 8, 9, 10, 14, 15, 18, 20, 23}"
521607,1.0,0,NaN,2020-02-01,"[2020-06-22, 2020-07-03, 2020-06-17, 2020-06-2...","[1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",2020-07-31,46,155,181.0,NaN,"{2020-07-03, 2020-05-27, 2020-05-05, 2020-02-2...",54,58,"{3, 5, 6, 8, 9, 11, 12, 14, 15, 17, 18, 20, 21}"
521608,2.0,0,2005.0,2020-02-01,"[2020-07-18, 2020-07-01, 2020-06-11, 2020-07-1...","[1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, ...",2020-07-31,29,84,181.0,15.0,"{2020-04-22, 2020-05-23, 2020-04-11, 2020-02-06}",13,17,"{8, 3}"
521609,2.0,0,2006.0,2020-02-01,"[2020-06-18, 2020-05-02, 2020-07-11, 2020-06-2...","[1, 1, 1, 2, 3, 4, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",2020-07-29,39,147,179.0,14.0,"{2020-02-29, 2020-05-04, 2020-05-03, 2020-05-0...",29,37,"{1, 5, 8, 9, 14, 18, 20, 21}"

In [62]:
train_df['freq']=0 ##freq
for i in range(len(train_df)):
    train_df.iloc[i, train_df.columns.get_loc('freq')] = len(train_df.iloc[i, train_df.columns.get_loc('grass_date')])
train_df.head()

,gender,is_seller,birth_year,enroll_time,date_list,login_times,date,s1,s2,shopee_years,age,grass_date,order_count,total_amount,category_encoded,freq
userid,,,,,,,,,,,,,,,,
1,2.0,1,1985.0,2015-05-27,"[2020-07-29, 2020-06-10, 2020-07-20, 2020-05-2...","[2, 2, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, ...",2020-07-29,7,43,1890.0,35.0,"{2020-07-29, 2020-07-23, 2020-06-11, 2020-07-1...",30,246,"{8, 17, 3, 6}",10
2,1.0,1,1980.0,2015-05-27,"[2020-07-18, 2020-07-23, 2020-06-25, 2020-07-0...","[3, 2, 3, 3, 4, 1, 3, 4, 3, 1, 1, 1, 3, 2, 2, ...",2020-07-31,126,361,1892.0,40.0,"{2020-05-11, 2020-07-28, 2020-06-07, 2020-06-1...",25,59,"{2, 6, 8, 9, 15, 16, 18, 20}",15
3,2.0,1,2014.0,2015-05-27,"[2020-06-11, 2020-07-02, 2020-07-09, 2020-06-2...","[7, 6, 5, 3, 2, 7, 6, 4, 4, 7, 3, 4, 4, 6, 4, ...",2020-07-31,194,576,1892.0,6.0,"{2020-05-05, 2020-06-10, 2020-03-11, 2020-04-2...",14,14,"{8, 18, 19, 6}",7
4,1.0,1,1978.0,2015-05-27,"[2020-07-29, 2020-07-14, 2020-04-26, 2020-07-2...","[2, 2, 1, 2, 3, 2, 3, 1, 2, 5, 2, 5, 4, 4, 3, ...",2020-07-31,112,314,1892.0,42.0,"{2020-05-04, 2020-04-03, 2020-06-10, 2020-02-2...",54,82,"{3, 6, 8, 10, 11, 12, 15, 18, 22, 23}",31
5,1.0,1,1978.0,2015-05-27,"[2020-07-31, 2020-06-17, 2020-06-10, 2020-06-2...","[4, 5, 4, 5, 6, 4, 3, 4, 5, 5, 4, 5, 5, 6, 4, ...",2020-07-31,207,617,1892.0,42.0,"{2020-04-03, 2020-03-14, 2020-06-10, 2020-07-1...",86,2734,"{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 13, 14, 15, 1...",45

In [82]:
train_df['last_login'] = train_df['date'].apply(lambda x : pd.to_datetime(x).timestamp())

## Data cleaning

In [64]:
train_df.age.describe()

count    277496.000000
mean         31.628542
std          10.586304
min         -18.000000
25%          24.000000
50%          30.000000
75%          38.000000
max         119.000000
Name: age, dtype: float64

In [65]:
train_df.freq.describe()

count    502157.000000
mean         12.711859
std           9.962899
min           1.000000
25%           5.000000
50%          10.000000
75%          17.000000
max         160.000000
Name: freq, dtype: float64

In [66]:
train_df.total_amount.describe()

count    502157.000000
mean        225.356052
std        2976.352338
min           1.000000
25%          15.000000
50%          39.000000
75%          92.000000
max      571849.000000
Name: total_amount, dtype: float64

In [77]:
train_df.s1.describe()

count    502157.000000
mean         34.102319
std          28.334130
min           0.000000
25%          13.000000
50%          29.000000
75%          48.000000
max         756.000000
Name: s1, dtype: float64

In [78]:
train_df.s2.describe()

count    502157.000000
mean        117.059667
std          88.220440
min           0.000000
25%          56.000000
50%          98.000000
75%         155.000000
max        1650.000000
Name: s2, dtype: float64

In [84]:
train_df_final = train_df[['gender', 'is_seller', 's1', 's2', 'shopee_years', 'age', 'order_count', 'total_amount', 'freq', 'last_login']]
train_df_final.to_csv('train_df_final.csv')

## load label

In [88]:
label_df = pd.read_csv('user_label_train.csv')
label_df

        userid  label
0       243381      0
1       150139      1
2       305902      1
3       159981      0
4       490632      0
...        ...    ...
426827  253227      0
426828  310890      1
426829  208172      0
426830  437306      1
426831  468837      0

[426832 rows x 2 columns]

In [89]:
train_df_final_label = pd.merge(label_df, train_df_final.reset_index(), on='userid')
train_df_final_label

,userid,label,gender,is_seller,s1,s2,shopee_years,age,order_count,total_amount,freq,last_login
0,243381,0,1.0,0,32,28,1238.0,20.0,5,255,4,1.595117e+09
1,150139,1,1.0,1,36,52,1462.0,NaN,16,16,9,1.596154e+09
2,305902,1,1.0,0,25,83,1094.0,33.0,20,21,8,1.596154e+09
3,159981,0,2.0,1,65,220,1440.0,35.0,84,192,22,1.596154e+09
4,490632,0,1.0,1,105,281,374.0,1.0,56,90,35,1.596154e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
426827,253227,0,1.0,1,6,78,1228.0,NaN,14,23,8,1.596067e+09
426828,310890,1,1.0,0,14,31,1084.0,NaN,12,14,9,1.596154e+09
426829,208172,0,2.0,1,17,69,1330.0,40.0,18,32,12,1.596154e+09
426830,437306,1,1.0,0,0,1,671.0,NaN,1,1,1,1.596154e+09
426831,468837,0,2.0,0,21,66,510.0,30.0,14,17,2,1.596154e+09

In [102]:
train_df_final_label.describe()['age']

# train_df_final_label['age'] = train_df_final_label['age'].fillna(age_mean)

count    235715.000000
mean         31.649403
std          10.589034
min         -18.000000
25%          24.000000
50%          30.000000
75%          38.000000
max         119.000000
Name: age, dtype: float64

In [106]:
### 檢查不合理的年紀
### 小於14歲,非賣家,且登入次數少於69,購買交易量少於10,但label == 1,年齡改完平均數
train_df_final_label.loc[(train_df_final_label['age'] < 14 ) & (train_df_final_label['is_seller'] ==0) & (train_df_final_label['s1']+train_df_final_label['s2'] <69 ) & (train_df_final_label['freq']< 5)& (train_df_final_label['label']==1), 'age'] = 30

In [123]:
### 小於14歲,非賣家,且登入次數少於69,購買交易量少於10,但label == 0,年齡改為10歲
train_df_final_label.loc[(train_df_final_label['age'] <10 ) & (train_df_final_label['is_seller'] ==0) & (train_df_final_label['s1']+train_df_final_label['s2'] <69 ) & (train_df_final_label['freq']< 5)& (train_df_final_label['label']==0), 'age'] = 10

In [126]:
# age為空,非賣家 交易量少於10,但label==1,年齡改為平均數
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['is_seller'] ==0)& (train_df_final_label['s1']+train_df_final_label['s2'] <10 )& (train_df_final_label['label']==1), 'age'] = 30

In [128]:
# age為空,賣家 交易量少於10,但label==1,年齡改為平均數
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['is_seller'] ==1)& (train_df_final_label['s1']+train_df_final_label['s2'] <10 )& (train_df_final_label['label']==1), 'age'] = 30

In [130]:
# age為空,非賣家 交易量少於10,但label==0,年齡改為10
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['is_seller'] ==0)& (train_df_final_label['s1']+train_df_final_label['s2'] <10 )& (train_df_final_label['label']==0), 'age'] = 10train_df_final

In [132]:
# age為空,賣家 交易量少於10,但label==0,年齡改為平均數
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['is_seller'] ==1)& (train_df_final_label['s1']+train_df_final_label['s2'] <10 )& (train_df_final_label['label']==0) ,'age'] = 30

In [135]:
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['label']==1), 'age'] = 30

In [140]:
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['label']==0) & (train_df_final_label['is_seller'] ==1), 'age'] = 30

In [142]:
train_df_final_label.loc[(train_df_final_label['age'].isnull()) & (train_df_final_label['label']==0) & (train_df_final_label['is_seller'] ==0), 'age'] = 30

In [148]:
train_df_final_label.loc[(train_df_final_label['gender'].isnull())& (train_df_final_label['label']==1), 'gender'] = 2

In [149]:
train_df_final_label.loc[(train_df_final_label['gender'].isnull())& (train_df_final_label['label']==0), 'gender'] = 1

In [156]:
train_df_final
train_df_final.to_csv('train_df_final_cleaned.csv')

In [220]:
train_df_final_label
train_df_final_label.to_csv('train_df_final_labeled_cleaned.csv')

## training classification model

In [167]:
data = train_df_final_label.sample(frac=0.95, random_state=123)
data_unseen = train_df_final_label.drop(data.index)
data.reset_index(inplace=True, drop=True)
data_unseen.reset_index(inplace=True, drop=True)
print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (405490, 12)
Unseen Data For Predictions: (21342, 12)

In [168]:
data.isnull().values.any()

False

In [169]:
data

,userid,label,gender,is_seller,s1,s2,shopee_years,age,order_count,total_amount,freq,last_login
0,437519,0,1.0,0,20,58,662.0,48.0,33,153,10,1.595462e+09
1,39912,0,2.0,1,50,301,1654.0,30.0,50,81,23,1.596154e+09
2,85536,1,2.0,0,64,168,1567.0,34.0,127,204,39,1.596154e+09
3,412082,0,2.0,0,42,223,782.0,30.0,30,67,18,1.596154e+09
4,481688,0,2.0,1,0,11,422.0,30.0,7,35,2,1.595290e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
405485,517285,0,2.0,0,25,34,210.0,30.0,5,5,5,1.596154e+09
405486,104704,1,2.0,1,40,124,1538.0,30.0,97,1091,17,1.596154e+09
405487,414159,0,2.0,0,3,14,759.0,34.0,3,3,3,1.594944e+09
405488,256730,0,2.0,0,9,89,1220.0,30.0,17,220,7,1.596067e+09
405489,99090,1,2.0,1,39,119,1547.0,30.0,30,35,15,1.596154e+09

In [170]:
data_unseen.isnull().values.any()

False

In [171]:
data_unseen

,userid,label,gender,is_seller,s1,s2,shopee_years,age,order_count,total_amount,freq,last_login
0,54756,1,2.0,0,59,130,1621.0,30.0,46,54,32,1.595981e+09
1,412454,0,1.0,0,20,54,768.0,34.0,4,5,2,1.595117e+09
2,51525,0,2.0,1,79,178,1628.0,48.0,73,92,27,1.596154e+09
3,79025,0,2.0,1,19,53,1576.0,17.0,3,3,2,1.596067e+09
4,70347,1,2.0,1,62,195,1595.0,29.0,37,47,20,1.596154e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
21337,265920,1,2.0,1,60,209,1198.0,30.0,119,252,30,1.596154e+09
21338,429694,0,2.0,0,10,31,703.0,30.0,29,41,10,1.596154e+09
21339,485551,0,1.0,0,3,48,374.0,33.0,3,4,3,1.593302e+09
21340,102473,1,2.0,1,36,162,1542.0,26.0,13,44,6,1.596154e+09
21341,328474,0,2.0,0,36,85,1047.0,30.0,28,67,11,1.596067e+09

In [163]:
from pycaret.classification import *

In [182]:
train_schedule = setup(data = data, target = 'label', categorical_features = ['gender','is_seller'], numeric_features = [
    's1', 's2', 'shopee_years', 'age', 'order_count', 'total_amount', 'freq', 'last_login', 'userid'],
                       session_id=456,
                      normalize = True,
                      transformation = True,
                      ignore_low_variance = True,
                       remove_multicollinearity = True, multicollinearity_threshold = 0.95,
                      bin_numeric_features = ['userid','shopee_years','age'])

In [183]:
best_model_top3 = compare_models(n_select = 3)

In [184]:
tuned_lightgbm = create_model('lightgbm', fold = 5)

In [185]:
tuned_lightgbm = tune_model(tuned_lightgbm, optimize='AUC')

In [186]:
catboost = create_model('catboost')

In [187]:
tuned_catboost = tune_model(catboost, optimize='AUC')

In [190]:

params = {"iterations": np.arange(100, 250, step=50),
          "learning_rate":  [0.03, 0.03, 0.03, 0.03],
          "depth": [10, 15, 20, 25]
          }
tuned_catboost = tune_model(catboost, custom_grid=params, n_iter=20, fold=4, optimize='AUC')

### Ensemble a Model
Very roughly, we can say that bagging will mainly focus at getting an ensemble model with less variance than its components whereas boosting and stacking will mainly try to produce strong models less biased than their components (even if variance can also be reduced).

In [191]:
plot_model(tuned_catboost, plot = 'parameter')

                                             Parameters
nan_mode                                            Min
eval_metric                                     Logloss
iterations                                          200
sampling_frequency                              PerTree
leaf_estimation_method                           Newton
grow_policy                               SymmetricTree
penalties_coefficient                                 1
boosting_type                                     Plain
model_shrink_mode                              Constant
feature_border_type                        GreedyLogSum
bayesian_matrix_reg                 0.10000000149011612
l2_leaf_reg                                           3
random_strength                                       1
rsm                                                   1
boost_from_average                                False
model_size_reg                                      0.5
subsample                             0.800000011920929
use_best_model                                    False
class_names                                      [0, 1]
random_seed                                         456
depth                                                10
posterior_sampling                                False
border_count                                        254
classes_count                                         0
auto_class_weights                                 None
sparse_features_conflict_fraction                     0
leaf_estimation_backtracking             AnyImprovement
best_model_min_trees                                  1
model_shrink_rate                                     0
min_data_in_leaf                                      1
loss_function                                   Logloss
learning_rate                      0.029999999329447743
score_function                                   Cosine
task_type                                           CPU
leaf_estimation_iterations                           10
bootstrap_type                                      MVS
max_leaves                                         1024

In [192]:
evaluate_model(tuned_catboost)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [193]:
predict_model(tuned_catboost);

In [194]:
final_catboost = finalize_model(tuned_catboost)

In [181]:
predict_model(final_catboost)

,userid,s1,s2,shopee_years,age,order_count,total_amount,freq,last_login,gender_1.0,is_seller_0,label,Label,Score
0,85898.0,25.0,85.0,1566.0,26.0,3.0,3.0,3.0,1.596154e+09,1.0,0.0,1,0,0.6480
1,317314.0,13.0,72.0,1068.0,30.0,14.0,33.0,7.0,1.595981e+09,1.0,1.0,0,0,0.6368
2,365349.0,4.0,7.0,958.0,45.0,1.0,4.0,1.0,1.596067e+09,0.0,1.0,0,0,0.7136
3,432774.0,9.0,15.0,674.0,30.0,1.0,1.0,1.0,1.594685e+09,1.0,1.0,0,0,0.6752
4,192647.0,63.0,103.0,1364.0,30.0,58.0,117.0,16.0,1.596154e+09,0.0,0.0,0,0,0.5717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121643,366559.0,50.0,168.0,955.0,19.0,14.0,18.0,6.0,1.596067e+09,0.0,1.0,0,0,0.7597
121644,302750.0,25.0,125.0,1102.0,45.0,11.0,82.0,6.0,1.596154e+09,1.0,1.0,1,0,0.6331
121645,289670.0,152.0,506.0,1137.0,52.0,64.0,75.0,29.0,1.596154e+09,1.0,1.0,0,1,0.5754
121646,15148.0,144.0,440.0,1730.0,52.0,5.0,7.0,4.0,1.596067e+09,0.0,0.0,1,0,0.6919
121647,107504.0,20.0,109.0,1534.0,35.0,52.0,73.0,13.0,1.596154e+09,0.0,0.0,0,0,0.6013

In [195]:
test_df = pd.read_csv('submission.csv')
test_df

       userid
0      100352
1      306318
2       35311
3      346391
4      448953
...       ...
75320  352208
75321   80927
75322  428302
75323  291739
75324  456312

[75325 rows x 1 columns]

In [196]:
test_df = pd.merge(test_df, train_df_final, on='userid').set_index('userid')
test_df

,gender,is_seller,s1,s2,shopee_years,age,order_count,total_amount,freq,last_login
userid,,,,,,,,,,
100352,2.0,1,149,574,1545.0,31.0,99,203,36,1.596154e+09
306318,2.0,0,44,174,1093.0,NaN,117,131,35,1.596154e+09
35311,2.0,1,107,277,1665.0,37.0,55,537,17,1.596154e+09
346391,2.0,0,26,201,1004.0,NaN,47,360,22,1.596154e+09
448953,1.0,0,12,38,621.0,18.0,1,1,1,1.596154e+09
...,...,...,...,...,...,...,...,...,...,...
352208,1.0,0,7,42,989.0,NaN,15,23,8,1.595808e+09
80927,2.0,1,57,139,1573.0,NaN,81,85,25,1.596154e+09
428302,2.0,0,18,60,709.0,19.0,56,72,6,1.596154e+09
291739,2.0,1,4,51,1131.0,27.0,6,7,2,1.596154e+09
456312,2.0,0,6,27,584.0,15.0,7,7,6,1.596154e+09

In [200]:
test_df.loc[(test_df['age'].isnull()), 'age'] = 30

In [202]:
test_df.loc[(test_df['gender'].isnull()), 'gender'] = 2.0

In [208]:
test_df = test_df.reset_index()

In [210]:
unseen_predictions = predict_model(final_catboost, data=test_df)
unseen_predictions.head()

,userid,gender,is_seller,s1,s2,shopee_years,age,order_count,total_amount,freq,last_login,Label,Score
0,100352,2.0,1,149,574,1545.0,31.0,99,203,36,1.596154e+09,1,0.6910
1,306318,2.0,0,44,174,1093.0,30.0,117,131,35,1.596154e+09,1,0.6579
2,35311,2.0,1,107,277,1665.0,37.0,55,537,17,1.596154e+09,0,0.5684
3,346391,2.0,0,26,201,1004.0,30.0,47,360,22,1.596154e+09,1,0.5147
4,448953,1.0,0,12,38,621.0,18.0,1,1,1,1.596154e+09,0,0.8469

In [211]:
save_model(final_catboost,'Final catboost Model v3')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['gender',
                                                             'is_seller'],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['s1', 's2',
                                                           'shopee_years', 'age',
                                                           'order_count',
                                                           'total_amount',
                                                           'freq', 'last_login',
                                                           'userid'],
                                       target='label', time_features=[])),
                 ('imputer',
                  Simple_Imput...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'),
                 ('fix_multi',
                  Fix_multicollinearity(correlation_with_target_preference=None,
                                        correlation_with_target_threshold=0.0,
                                        target_variable='label',
                                        threshold=0.95)),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  <catboost.core.CatBoostClassifier object at 0x7efcc17b2748>]],
          verbose=False),
 'Final catboost Model v3.pkl')

In [218]:
ans_df = pd.read_csv('submission.csv')
ans_df = ans_df.join(unseen_predictions[['Label']])
ans_df.set_index('userid', inplace=True)
ans_df

        Label
userid
100352      1
306318      1
35311       0
346391      1
448953      0
...       ...
352208      0
80927       1
428302      0
291739      0
456312      0

[75325 rows x 1 columns]

In [219]:
ans_df.to_csv('submission_out.csv')